---
pagination:
  data: globalDataSet.myData
  size: 1
permalink: "<%- pagination.items[0].name -%>.html"
---
<% 
    var d = pagination.items[0];
    var ja = messages_ja;
    var en = messages_en;
%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>タイトル</title>
    </head>
    <body>
        <!-- インクルード -->
        <%- include('_includes/common/header') %>
        <%- include('_includes/' + d.content) %>

        <!-- 繰り返し -->
        <ol>
        <% for (var item of pagination.items) { %>
            <li><%= item.name %></p>
        <% } %>
        </ol>

        <!-- 条件分岐 -->
        <% if (d.name === 'login01') { %>
        <p>ログイン１のみ表示</p>
        <% } %>

        <!-- 日英対応（途中） -->
        <p><%- ja.name -%></p>
        <p><%- en.name -%></p>
    </body>
</html>