---
pagination:
  data: globalDataSet.myData
  size: 1
permalink: "<%- pagination.items[0].name -%>.html"
---
<% 
    var d = pagination.items[0];
    var y = messages_ja;

    const pageMeta = {
      lang: 'ja',
    }
%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>日本語版テンプレート</title>
        <% if (build.env === "production") { %>
        <link rel="stylesheet" href="./css/style.css">
        <script type="module" src="./js/main.js"></script>
        <% } else { %>
        <link rel="stylesheet" href="./scss/style.scss">
        <script type="module" src="http://localhost:3000/src/js/main.js"></script>
        <% } %>
    </head>
    <body>
        <!-- インクルード -->
        <%- include('_includes/common/header') %>
        <%- include('_includes/' + d.content, { meta: pageMeta }) %>

        <!-- 繰り返し -->
        <ol>
        <% for (var item of pagination.items) { %>
            <li><%= item.name %></p>
        <% } %>
        </ol>

        <!-- 条件分岐 -->
        <% if (d.name === 'login01') { %>
        <p>ログイン１のみ表示</p>
        <% } %>

        <!-- 日英対応（途中） -->
        <p><%- y.name -%></p>
    </body>
</html>